.header__logo {
  margin: 0;
  padding: 0;
  width: calc(103.74px + 38.26 * ((100vw - 320px) / (1280 - 320)));
  margin-bottom: calc(29px + 8 * ((100vw - 320px) / (1280 - 320)));
}
@media screen and (max-width: 320px) {
  .header__logo {
    margin-left: 25px;
  }
}
