.elements__delete {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(255, 255, 255, 0);
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
  width: 19px;
  height: 19px;
}
.elements__delete:hover {
  opacity: 0.6;
}
