.elements__pseudo-like {
  background-image: url(../../../images/like.svg);
  transition: 0.5s;
  cursor: pointer;
  display: inline-block; /* элемент span теперь сможет принимать определённую ширину и высоту */
  vertical-align: middle; /* элемент и текст будут правильно выровнены по вертикали. Работает в паре с inline-block */
  width: 22px;
  height: 19px; /* размеры */
}
.elements__pseudo-like:hover {
  opacity: 0.6;
}
.elements__pseudo-like:active {
  background-image: url(../../../images/like_black.svg);
  opacity: 1;
}
