.form__button_popup_save {
  margin: 48px auto 37px;
  width: calc(238px + 120 * ((100vw - 320px) / (1280 - 320)));
  height: calc(46px + 4 * ((100vw - 320px) / (1280 - 320)));
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 0px 25px;
  font-weight: normal;
  font-size: calc(14px + 4 * ((100vw - 320px) / (1280 - 320)));
  line-height: calc(17px + 5 * ((100vw - 320px) / (1280 - 320)));
  text-align: center;
  transition: 0.5s;
}
.form__button_popup_save:hover {
  opacity: 0.8;
}
@media screen and (max-width: 320px) {
  .form__button_popup_save {
    margin: 45px auto 25px;
  }
}
